* {
  margin: 0;
}

.car {
  width: 200px;
  height: 200px;
}

.car1 {
  background-color: yellow;
}

.car2 {
  background-color: red;
}

.car3 {
  background-color: green;
}

.car4 {
  background-color: blue;
}

.features {
  display: grid;
  margin-top: 110px;
  grid-template: repeat(2, 300px) / repeat(2, 300px);
}

.fixed-header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: palevioletred;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  width: 15%;
  height: auto;
}

.logo img {
  width: 100%;
  margin-right: 10px;
}

.logo h2 {
  font-family: 'Homemade Apple', cursive;
  display: flex;
  margin-left: 10px;
  align-items: center;
  color: aliceblue;
  font-weight: lighter;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  margin-right: 10px;
}

.navbar li a {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 25px 50px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar li a:hover {
  background-color: lightpink;
  color: white;
}

.buttons {
  display: flex;
  align-items: flex-end;
}

.register-btn {
  text-decoration: none;
  color: white;
  background-color: lightpink;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.login-btn {
  text-decoration: none;
  color: palevioletred;
  background-color: white;
  border-radius: 25px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.register-btn:hover {
  background-color: white;
  color: palevioletred;
}

.login-btn:hover {
  color: white;
  background-color: lightpink;
}
